html, body, .height100 {
    height: 100%;
}

.height100 > .col-lg-4 {
    height: 50%;
    box-shadow: 0 0 7px 2px #222;
}

.bg1 {
    background: #A77448;
}

.bg2 {
    background: #251109;
}

.bg3 {
    background: #713824;
}

.bg4 {
    background: #F2A054;
}

.bg5 {
    background: #F3F3F1;
}

.bg6 {
    background: #C04D31;
}

.content div {
    height: 100%;
}

.content {
    position: relative;
    width: 100%;
}
.descBlock {
    position: absolute;
    top: 0;
    -webkit-transition: left 5s;
    transition: left 5s;
    width: 40%;
    left: 61%
}

.imageBlock {
    position: absolute;
    top: 0;
    -webkit-transition: left 5s;
    transition: left 5s;
    width: 60%;
    left: 0;
}

.descBlock.ng-enter {
    left: 100%;
}

/* starting animations for enter */

.descBlock.ng-enter-active {
    left: 61%
}

.imageBlock.ng-enter {
    left: -60%;
}

/* starting animations for enter */

.imageBlock.ng-enter-active {
    left: 0;
}

.grid1, .grid2, .grid3, .grid4, .grid6 {
    -webkit-transition: all 2s;
    transition: all 2s;
    position: relative;
    text-align: center;
}

.grid1:hover {
    background: url(http://farm5.staticflickr.com/4122/4878886438_acf913021e.jpg) no-repeat center center;
}

.grid2:hover {
    background: url(http://farm8.staticflickr.com/7058/6830016482_2b2f1b90fc.jpg) no-repeat center center;
}

.grid3:hover {
    background: url('http://www.absasa.com/images/products/evening-dresses/sexy_sheath_column_v-neck_beading_sleeveless_floor-length_chiffon_prom_dresses_evening_dresses-1.jpg') no-repeat center center;
}

.grid4:hover {
    background: url('http://www.seb.ee/image/pildipank/vormid.jpg') no-repeat center center;
}

.grid6:hover {
    background: url('http://www.architectorgallery.ru/UPLOAD/2012/04/06/dscn4345_1200_0.jpg') no-repeat center center;
}

.grid1:hover, .grid2:hover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid5 {
    text-align: center;
    padding-bottom: 100px;
}

.grid5 footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}