@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.height100 {
    height: 100%;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

li.active a {
    background-color: #7eabcc;
    color: white;
    font-weight: bold;
}

.bg1 {
    background: #A77448;
}

.bg2 {
    background: #7a2c27;
}

.bg3 {
    background: #713824;
}

.bg4 {
    background: #F2A054;
}

.bg5 {
    background: #F3F3F1;
}

.bg6 {
    background: #C04D31;
}

.grid a {
    color: #2e2e2e;
}

section {
    box-shadow: inset 0 0 7px #000;
}

section {
    padding: 15px 7px;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
}

aside, article {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* -------------------------------------------------------- */

/* Mobile devices */
@media (max-width: 768px) {

    section h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 27px;
    }

    .grid5 .logo {
        height: 150px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px){

    section h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 27px;
    }

    .grid h3, .grid h4 {
        margin: 0;
        font-size: 12px;
    }

    section {
        height: 50%;
    }

    section .logo {
        height: 50%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section {
        height: 50%;
    }

    .grid5 .logo {
        height: 50%;
    }

    aside , article {
        height: 100%;
    }

    article .content {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    section {
        height: 30%;
    }

    .grid5 {
        height: 150%;
    }

    .grid5 .logo {
        height: 20%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    section {
        height: 100%;
    }

    .grid5 .logo {
        height: 20%;
    }
}

/*_______OWL___________*/
#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-one .item {
    height: 100%;
}

#owl-one .item img {
    height: 60%;
}

#owl-row .item {
    margin: 3px 3px 3px 0;
}

.synced .item img{
    background: #0c83e7;
    border-color: #0c83e7;
}